<div class="modal-dialog__content">
  <div class="wiki-content">
    <h2>{{info.label}}</h2>
    <img src={{this.image}} />
    <p>{{this.description}}</p>
  </div>
</div>

{{#wu-button-group}}
  {{wu-button label="Yes" size="small" isNarrow=true onClick=(action "insert")}}
{{/wu-button-group}}

{{yield}}
